* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 80%;
    height: 15vh;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left img {
    width:35px;
    margin-top: 8px;
    

    
    
}
.left {
    width: 33.33%;
    background-color: rgb(227, 227, 245);
    height: 8vh;
    
}
.middle {
    width: 33.33%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 204, 223);
}
.middle div {
    margin: 1rem;
    padding: .4rem;
    color: rgb(107, 105, 105);
    font-size: 1.35rem;
}
.right {
    width: 33.33%;
    text-align: right;
    height: 8vh;
    background-color: rgb(158, 189, 204);
}
.right i {
    margin-top: 8px;
    margin-right: 6px;
    font-size: 2rem;
    
}
.right i:nth-last-child(1) {
    margin-right: 15px;
}
