*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row {
    border: 2px solid rgb(158, 151, 151);
    display: flex;
    justify-content: center;
    
}
.logo {
    height: 10vh;
    background-color:aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.menu {
    background-color:rgb(19, 97, 97);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
    height: 17vh;
    color: aliceblue;
    background-color:coral;
    display: flex;
    justify-content: center;
    align-items: center;

}
.div1 {
    height: 45vh;
    color: aliceblue;
    background-color:rgb(79, 116, 13);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2 {
    height: 45vh;
    color: aliceblue;
    background-color:rgb(45, 127, 182);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div3 {
    height: 45vh;
    color: aliceblue;
    background-color:rgb(12, 134, 124);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div4 {
    height: 10vh;
    color: aliceblue;
    background-color:rgb(218, 44, 209);
}
.div5 {
    height: 10vh;
    color: aliceblue;
    background-color:rgb(196, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div6 {
    height: 10vh;
    color: aliceblue;
    background-color:rgb(223, 209, 130);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    height: 15vh;
    color: aliceblue;
    background-color:rgb(42, 180, 116);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}