* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 25%;
    border: 2px solid rgb(145, 151, 231);
    /* padding: 0.5rem; */
    margin-top: 10%;
    position: relative;
    left: -18rem;
    transition: all 2s ease-in-out;
      
}
.container:hover {
    position: relative;
    left: 0;
}
.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items: center;
    background-color:rgb(136, 127, 7);
    padding: 0.4rem;
    height: 10vh;
    
}
.div1 {
    font-size: 1.2rem;
    margin-left: 0.6rem;
    color: white;
}
.div2 {
    font-size: 1.6rem;
    margin-right: 0.6rem;
    color: rgb(8, 8, 8);
    font-weight: 800;
    transition: all 1s ease;

}
.div2:hover {
    transform: rotate(180deg);
    color: white;
}


.bottom {
    background-color:rgb(179, 168, 15);
    padding: 1.4rem;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content:center;
    
}

.bottom ul  {
    list-style-type: none;
    margin-top: 1rem;
    margin-left: 0.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    transition: all 1s ease;
    
}
.bottom ul:hover {
    transform: rotate(720deg);
    color: aliceblue;
}
.bottom ul li {
    
    margin-top: 1rem;
}
